/build/phar
/build/*.phar*
/*.phar
/.idea
/composer.lock
/vendor
/.DS_Store
/**/.DS_Store
/*.html
/current.tree
/.php-cs-fixer.php
/.php-cs-fixer.cache
/.phpunit.cache
/.psalm/cache
/.phpunit.result.cache
